<header class="ui inverted vertical masthead center aligned segment">
	<div class="ui container">
		<nav class="ui large secondary inverted pointing menu">
			<a class="toc item">
				<i class="sidebar icon"></i>
			</a>
			{% for item in site.data.nav %}
				{% if page.url == item.url %}
					<a class="active item" href="{{ item.url | relative_url }}">{{ item.title }}</a>
				{% else %}
					<a class="item" href="{{ item.url | relative_url }}">{{ item.title }}</a>
				{% endif %}
			{% endfor %}
		</nav>
	</div>
</header>